.goBackRoot,
.goBack {
  width: 100%;
}

.goBackRoot {
  align-items: flex-start;
  padding-bottom: clamp(75px, 5%, 95px);
}

.goBack {
  align-items: center;
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow-btn);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gap1);
  justify-content: space-around;
  max-width: 150px;
  padding: var(--padding);
}

.link {
  text-decoration: none;
  color: inherit;
}
