.gridCardsRoot {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  padding-top: var(--paddingTop);
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .gridCardsRoot {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 968px) {
  .gridCardsRoot {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .gridCardsRoot {
    grid-template-columns: 1fr;
  }
}
