.gridCardsRoot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: var(--paddingTop);
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .gridCardsRoot {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 968px) {
  .gridCardsRoot {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .gridCardsRoot {
    grid-template-columns: 1fr;
  }
}
