.infoRoot {
  align-items: flex-start;
}

.flag {
  flex: 0 1 40%;
}

.countryContainer {
  flex: 0 1 50%;
  padding-top: 4%;
}

.countryInfo h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.countryDetails ul {
  list-style-type: none;
}

.countryDetails ul li {
  padding-bottom: 0.5rem;
}

.flag img {
  width: 100%;
  aspect-ratio: 4/3;
}

.countryInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5%;
}

.borderCountries {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.keyboard {
  flex: 0 1 80%;
  margin: 0 auto;
}

.btnBorder {
  animation: blur-in 0.4s linear both;
  background-color: var(--background-color-cards);
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 11%);
  color: var(--text-color);
  cursor: pointer;
  margin: 0.25rem;
  min-width: 170px;
  padding: 0.3rem 1.5rem;
}

.countryDetails {
  column-count: 2;
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blur-out-expand {
  0% {
    transform: scale(1);
    filter: blur(0.01px);
  }
  100% {
    transform: scale(2);
    filter: blur(12px);
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .countryInfo,
  .infoRoot {
    align-items: center;
  }
  .infoRoot {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .countryDetails {
    column-count: 1;
  }

  .borderCountries {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .btnBorder {
    padding: 1rem;
    margin: 0.5rem;
  }

  .keyboard {
    flex: 0 1 100%;
  }
}
