:root {
  --border-radius: 5px;
  --border-radius-50: 50%;
  --background-color-cards: white;
  --background-color: #dbdbdb;
  --box-shadow-btn: 0 0 1rem 0.5rem rgb(0 0 0 / 11%);
  --box-shadow-header: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
  --box-shadow: var(--box-shadow-header);
  --drop-shadow: drop-shadow(2px 4px 6px black);
  --margin: 0 auto;
  --max-width: 1640px;
  --gap1: 1rem;
  --padding: 1rem 1.5rem;
  --paddingTop: 3%;
  --search-color: #939393;
  --text-color: #213547;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body[data-theme='dark'] {
  --background-color-cards: #3d3d3d;
  --background-color: #242424;
  --box-shadow-btn: 0 0 1rem 0.5rem rgb(0 0 0 / 20%);
  --box-shadow: 0 0 2rem -1rem rgba(251, 248, 248, 0.5);
  --drop-shadow: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.45));
  --text-color: white;
}
main {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1640px) {
  :root {
    --margin: 0 1.5rem;
  }
}
