.cardRoot {
  border-radius: 8px;
  background-color: var(--background-color-cards);
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--box-shadow-btn);
}

.flagContainer img {
  width: 100%;
  max-height: 220px;
  aspect-ratio: 2/1;
}

.info,
.info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info {
  color: var(--text-color);
  gap: 1rem;
  padding: 1rem 2rem 3rem;
}

.info ul {
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
}
