header {
  background-color: var(--background-color-cards);
  box-shadow: var(--box-shadow-header);
  padding-block: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav,
.toggleTheme {
  align-items: center;
  display: flex;
  flex-direction: row;
}

nav {
  justify-content: space-between;
  margin: var(--margin);
  max-width: var(--max-width);
}

.toggleTheme {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 600;
}

.toggleTheme span {
  text-transform: capitalize;
}

.link {
  color: inherit;
  text-decoration: none;
}
