header {
  padding-block: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: var(--background-color-cards);
}

nav {
  align-items: center;
  display: flex;
  margin: var(--margin);
  max-width: var(--max-width);
  justify-content: space-between;
}

.toggleTheme {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: 600;
}
.toggleTheme span {
  text-transform: capitalize;
}

.link {
  text-decoration: none;
  color: inherit;
}
