header {
  padding-block: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

nav {
  align-items: center;
  display: flex;
  margin: var(--margin);
  max-width: var(--max-width);
  justify-content: space-between;
}

.toggleTheme {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: 600;
}
.toggleTheme span {
  text-transform: capitalize;
}
