.form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--background-color-cards);
  padding: 1rem 1.5rem;
  width: 50%;
  transition: all 0.5s;
  box-shadow: var(--box-shadow-btn);
}

input:focus-visible {
  border: none;
}

.form svg {
  color: var(--search-color);
}

.searchInput {
  background: transparent;
  border: none;
  margin-left: 1rem;
  color: var(--text-color);
  padding: 0.5rem 0 0.5rem 0.3rem;
  width: 100%;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
