section {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  section {
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 7%;
  }
}
